/bin/

# Ignore Eclipse files
.metadata
.settings
.project

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

logs

# Ignore all Json files
*.json
*.rpgc

# Ignore Character, Test and Bundle directories
bundles
characters
test