<?xml version="1.0" encoding="UTF-8"?>

<!-- <configuration scan="true" scanPeriod="1 minute">
	<property name="LOG_PATH" value="logs/" />
	<property name="LOG_PATH" value="${LOG_PATH}/archive/" />
	
	<timestamp key="timestamp-by-second" datePattern="yyyMMdd'T'HHmmss" />
	
	<appender name="Console-Adapter" class="ch.qos.Logback.core.ConsoleAdapter">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="File-Appender" class="ch.qos.Logback.core.FileAppender">
    	<file>${LOG_PATH}/${timestamp-by-second}.log</file>
    	<encoder>
    		<pattern>%msg%n</pattern>
    		<outputPatternAsHeader>true</outputPatternAsHeader>
    	</encoder>
    </appender>
    
    <logger name="TIG.logbackxml" level="info">
    	<appender-ref ref="File-Appender" />
    </logger>

	<root>
		<appender-ref ref="Console-Adapter" />
    </root>
</configuration> -->

<configuration scan="true" scanPeriod="1 minute">
	<property name="LOG_PATH" value="logs/" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive/" />
	<property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} |-%-5level in %logger{36}[%thread] - %msg%n" />
	
	<timestamp key="timestamp-by-date" datePattern="MMM-dd-yyyy" />
	
	<!-- CONSOLE -->
	<appender name="Console-Adapter" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- ROLLING FILE -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${timestamp-by-date}.rolling.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
        	<fileNamePattern>${LOG_ARCHIVE}/%d{MMM-dd-yyyy}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
    
    <!-- APPLICATION LOGGER -->
    <logger name="TIG" level="DEBUG">
		<appender-ref ref="Console-Adapter" />
   		<appender-ref ref="FILE" />
    </logger>

	<!-- ROOT LOGGER -->
	<root level="TRACE" additivity="false">
		<appender-ref ref="Console-Adapter" />
    </root>
</configuration>